<h1>These are the homework I need to do for school:</h1>

<form action="/api/classwork" method="POST" class="form-example">
			
      <label for="name">Enter the task to do this week: </label>
      <input type="text" name="homework" id="homework" required />

      <input type="submit" value="add the task" />

  </form>